[access]
	inheritFrom = Dev-ACL-Template
[project]
	state = active
	description = Macromedia/Adobe FreeHand file format parser library.
[receive]
	requireChangeId = true
[submit]
	action = cherry pick
	mergeContent = true
[access "refs/*"]
	read = group ReplicateGithub
	read = group ReplicateGitorious
