[access]
	inheritFrom = DocumentLiberation-ACL-Template
[project]
	description = Macromedia/Adobe FreeHand file format parser library.
[receive]
	requireChangeId = true
[submit]
	action = cherry pick
	mergeContent = true
[access "refs/*"]
	read = group ReplicateFDO
	read = group ReplicateGithub
	read = group ReplicateGitorious
	owner = group libfreehand-admins
	create = group libfreehand-admins
	push = +force group libfreehand-admins
	pushMerge = group libfreehand-admins
	pushTag = group libfreehand-admins
	pushSignedTag = group libfreehand-admins
